.output {
  display: none;
}
.question-block {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding-bottom: 100px;
}

.question {
  border-radius: 5px;
  width: 100%;
  min-height: 50px;
  background-color: #C1C1C1;
  vertical-align:middle;
}

#submit {
  margin-top: 10px;
}
